<!DOCTYPE html>
<html>
  <body>

    hi hello how are you hurt - pls fill the form
    </br>
  </br>
</br>
      <form>
        <!-- form action needs to be symptoms fx from views -->
        <header>how r hurt</header>

        <button id="symptom" onclick="doIt()" value="cough" >cough</button>
      </br>
        <button id="symptom" onclick="doIt()" value="runnyNose">runny nose</button>
      </br>
        <button id="symptom" onclick="doIt()" value="fever">fever</button>

      </br>
    </br>
        <input type="submit" onclick="showIt()">
      </br>
    </br>

        <ul>
          <li id="allTheHurts"</li>
        </ul>
      </form>

  {% load static %}
  <script src={% static "acu/symptoms.js" %}/>
  </body>

</html>
